html{
  height: 100%;
};
​
body{
  padding: 0;
  margin: 0;
  background-color: rgb(81, 83, 81);
};
​
.carousel-item img {
  max-height: 600px;
  height: 600px;
  width: auto;
  object-fit: cover;
};
​



.footer{
  background-color: darkgray;
  text-align: center;
  margin-top: 32px;
}

