body{
    background-color: lightgray;
}

h1{
    color:  teal;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 24px;
}

h2{
    color:  teal;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 20px;
}

h3{
    color:  teal;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
    font-size: 17px
}

.navbar-links{
    float: right;
}

.navbar-brand{
    background-color: teal;
    padding: 8px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: white;
}

.viz-info{
    background-color: white;
    padding: 16px;
    text-align: justify
    }

#content-container{
    margin-top: 32px;
    visibility: visible;
}

#data-table-container{
    background-color: white;
    margin-top: 32px;
    visibility: visible;
}


.summary-image{
    width: 215px;
    float: left;
}

.visualization-image{
    width: 175px;
    float: left;
}

.footer{
    background-color: darkgray;
    text-align: center;
    margin-top: 32px;
}

.comparison-image{
    width: 450px;
}

.big-image{
    width: 600px;
    float: center;
}

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

/* Container holding the image and the text */
.container-center {
    position: relative;
    text-align: center;
  }

