<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Fantasy Stats</title>
        
        <!-- D3 CDN -->
        <script src="https://d3js.org/d3.v6.min.js"></script>
        
        <!-- Bootstrap CSS and JavaScript CDN -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>        

        <!-- Custom JavaScript-->
        <script src = "{{ url_for('static', filename='js/app.js') }}" defer></script>

        <!-- Plotly -->
        <script src="plotly-latest.min.js"></script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    </head>
    

    <body>

        <!---
        <div class='container'>

            <div class='row'>
                <div class='col-md-12'>
                    <h1>Fantasy Stats</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <h5>Avg FPTS/G by Position</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="avg_fpts_line"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <h5>Count of Position per Season</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="pos_count_line"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div>
                    <h5>Count of Position per Seasonn</h5>
                    <table class='table table-striped table-hover' id='count-table'>
                        <thead id='count-thead'>
                        </thead>  
                        <tbody id='count-tbody'>
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    <div class="well">
                    <h5>Season</h5>
                    YOU WILL NEED TO ADD AN onchange EVENT TO THE DROP DOWN! 
                    <select id="selDataset" onchange='optionChanged(this.value)' ></select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <h5>Scatter Plots, FPTS vs Pos</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div id="qb_scatter"></div>
                </div>
                <div class="col-md-6">
                    <div id="rb_scatter"></div>
                </div>
                <div class="col-md-6">
                    <div id="wr_scatter"></div>
                </div>
                <div class="col-md-6">
                    <div id="te_scatter"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div>
                    <h5>Leaderboard</h5>
                    <table class='table table-striped table-hover' id='stats-table'>
                        <thead id='stats-thead'>
                        </thead>  
                        <tbody id='stats-tbody'>
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
                
        </div>
         -->




         <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-dark bg-dark">
                         
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="navbar-toggler-icon"></span>
                        </button> <a class="navbar-brand" href="#">Brand</a>
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="navbar-nav">
                                <li class="nav-item active">
                                     <a class="nav-link" href="#">Link <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                     <a class="nav-link" href="#">Link</a>
                                </li>
                                <li class="nav-item dropdown">
                                     <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown">Dropdown link</a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                         <a class="dropdown-item" href="#">Action</a> <a class="dropdown-item" href="#">Another action</a> <a class="dropdown-item" href="#">Something else here</a>
                                        <div class="dropdown-divider">
                                        </div> <a class="dropdown-item" href="#">Separated link</a>
                                    </div>
                                </li>
                            </ul>
                            <form class="form-inline">
                                <input class="form-control mr-sm-2" type="text" /> 
                                <button class="btn btn-primary my-2 my-sm-0" type="submit">
                                    Search
                                </button>
                            </form>
                            <ul class="navbar-nav ml-md-auto">
                                <li class="nav-item active">
                                     <a class="nav-link" href="#">Link <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item dropdown">
                                     <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown">Dropdown link</a>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                         <a class="dropdown-item" href="#">Action</a> <a class="dropdown-item" href="#">Another action</a> <a class="dropdown-item" href="#">Something else here</a>
                                        <div class="dropdown-divider">
                                        </div> <a class="dropdown-item" href="#">Separated link</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </nav>
                    <div class="jumbotron">
                        <h2>
                            NFL Fantasy Football Insider
                        </h2>
                        <p>
                            Description if we want
                        </p>
                        <p>
                            <a class="btn btn-primary btn-large" href="#">Learn more</a>
                        </p>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <form role="form" class="form-inline">
                                <div class="form-group">
                                     <label for="exampleInputEmail1">
                                        Player #1
                                    </label>
                                    <input type="email" class="form-control" id="exampleInputEmail1" />
                                </div>
                            </form>
                        </div>
                        <div class="col-md-3">
                            <form role="form" class="form-inline">
                                <div class="form-group">                                     
                                    <label for="exampleInputEmail1">
                                        Player #2
                                    </label>
                                    <input type="email" class="form-control" id="exampleInputEmail1" />
                                </div>
                            </form>
                        </div>
                        <div class="col-md-2">
                            <form role="form" class="form-inline">
                                <div class="form-group">                                     
                                    <label for="exampleInputEmail1">
                                        Year
                                    </label>
                                    <input type="email" class="form-control" id="exampleInputEmail1" />
                                </div>
                            </form>
                        </div>
                        <div class="col-md-2">
                            <form role="form" class="form-inline">
                                <button type="submit" class="btn btn-primary">
                                    Search
                                </button>                                
                            </form>
                        </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <table class="table">
                                        <thead>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-md-6">
                                    <table class="table">
                                        <thead>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h3>
                                Line Graphs
                            </h3>
                            <p>
                                Description if we want
                            </p>
                            <div class="row">
                                <div class="col-md-6">
                                    <div id="avg_fpts_line"></div>
                                </div>
                                <div class="col-md-6">
                                    <div id="pos_count_line"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="well">
                                <h5>Season</h5>
                                <!---YOU WILL NEED TO ADD AN onchange EVENT TO THE DROP DOWN! --->
                                <select id="selDataset" onchange='optionChanged(this.value)' ></select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h3>
                               Scatter Plots
                            </h3>
                            <p>
                                Description if we want
                            </p>
                            <div class="row">
                                <div class="col-md-6">
                                    <div id="qb_scatter"></div>
                                </div>
                                <div class="col-md-6">
                                    <div id="rb_scatter"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div id="wr_scatter"></div>
                                </div>
                                <div class="col-md-6">
                                    <div id="te_scatter"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3>
                                        Leaderboard
                                    </h3>
                                </div>
                            </div>
                            <table class='table table-striped table-hover' id='stats-table'>
                                <thead id='stats-thead'>
                                </thead>  
                                <tbody id='stats-tbody'>
                                </tbody>
                            </table>
                            <nav>
                                <ul class="pagination">
                                    <li class="page-item">
                                        <a class="page-link" href="#">Previous</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">1</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">2</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">3</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">4</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">5</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">Next</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>    
</html>